@import "./mainPopovers.css";
@import "./nubbinAdjustment.css";

.popover-show {
    position: absolute;
    left: var(--popover-x-pos);
    top: var(--popover-y-pos);
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}
.popover-hide {
    position: fixed; 
    visibility: hidden;
    opacity: 0;
}